# UI Test Target (Legacy/SauceDemo)
SAUCE_USERNAME=your_username_here
SAUCE_LOCKED_OUT_USERNAME=your_locked_out_username_here
SAUCE_PASSWORD=your_password_here
SAUCE_BASE_URL=https://www.saucedemo.com/

# New Hybrid Lab Targets
BOOKER_BASE_URL=https://automationintesting.online/
BOOKER_API_URL=https://restful-booker.herokuapp.com/
