# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]

# Playwright / Pytest
.pytest_cache/
test-results/
playwright-report/
blob-report/
*.png
*.mp4

# OS
.DS_Store

# Test Results & Reports (Consolidated)
reports/
failures/
